.about-detail1 {
    /* background: url("../Images/about/bb.jpg"); */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    /* padding: 40px; */
    height: auto;
    width: 90%;
    /* background-color: var(--txtaccent); */
    background-color: rgb(0, 0, 0);
    /* box-shadow: 2px 2px 2px 2px gray; */
    margin-left: 5%;
    color: #000000;
}
.about-detail1 h1 {
      /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    color: #0b857f;
    text-align: center;
    /* text-decoration: underline; */
    font-size: 28px;
    /* color: var(--haccent); */
    /* color: rgb(209, 145, 7); */
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-weight: 700;
 justify-items: center;
}

.about-detail1 h2{
     font-family: Arial, Helvetica, sans-serif;
     color: var(--haccent);
      text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-weight: 700;
} 
.p {
    margin-top: 10px;
}

#about-content1 p {
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family:  serif;
}

#about-content1 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.p {
    width: 60%;
    margin-top: 10px;
}

.hidden-content {
    display: none;
}

.img {
    width: 70%;
}

.img img {
    width: 90%;
    margin-left: 10%;
    /* margin-top: -50px; */
}

#about-content p {
    font-size: 1rem;
}

.img {

    width: 120%;
}

/* 
.brief-p h2 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #050707;
    text-decoration: underline;
} */
.mainbox ol {
    text-decoration: underline;
    color: #e4d4d4;
    margin-left: 15%;
    margin-top: 25px;
}
.image-list li {
    margin-bottom: 5px;
}
.image-list li a {
    text-decoration: solid;
    color: rgb(218, 205, 205);
    display: block;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    align-items: center;
}
.image-list img {
    height: 50%;
    width: 60%;
    left: 10%;
    top: -20%;
}
.map-img img {
    margin-left: 30%;
    height: 600px;
    width: 65%;
    margin-top: -29%;
    border: 2px solid black;
}