* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   background: url("./img2.jpeg") no-repeat;
   background-size: 100% 100%;
   background-size: cover;
   margin-top: 60px;
   position: relative;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: #333;
}

.timeline {
    width: 60%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* Common container styling */
.container {
    display: flex;
    align-items: center;
    margin: 3rem 0;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(228, 166, 166, 0.1);
}

/* Left container styling */
.left {
    flex-direction: row; /* Image on the left */
}

/* Right container styling */
.right {
    flex-direction: row-reverse; /* Image on the right */
  
}

.img-box {
    width: 70%;
   
}

.img-box img {
    width: 80%;
    border-radius: 10px;
    border: 2px solid #000000;
    /* margin-left: -120px; */
}
.img-box1 img  {
    width: 80%;
      margin-right: -200px;
      border: 2px solid #000000;
}

.textbox {
    width: 50%;
    padding: 1rem 2rem;
}

.textbox h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #007bff;

}

.textbox p {
    font-size: 1rem;
    color: #333;
}
h1.underline {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;

    left: 400px;
}

h1.underline::after {
    content: '';
    position: absolute;
    width: 0;
    align-items: center;
    height: 2px;
    background-color: #bbcbdd; /* Color of the underline */
    left: 0;
    bottom: -10px; /* Adjust this value to control the space between the underline and text */
    transition: width 0.4s ease-out;
}

h1.underline:hover::after {
    width: 100%; /* The underline will animate to full width on hover */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack vertically on smaller screens */
    }

    .img-box {
        width: 100%; /* Full width for images */
    }

    .textbox {
        width: 100%; /* Full width for text */
        padding: 1rem;
    }
}
